/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    font-family:'Poppins', sans-serif;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );

    padding:20px;
}

/* Container */

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

/* Main Card */

.todo-app{
    width:100%;
    max-width:500px;

    padding:30px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);

    border-radius:25px;

    box-shadow:
    0 8px 32px rgba(0,0,0,0.2);

    color:white;
}

/* Title */

.todo-app h1{
    text-align:center;
    margin-bottom:25px;
    font-size:32px;
}

/* Input Area */

.input-area{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.input-area input{
    flex:1;

    padding:14px;

    border:none;
    outline:none;

    border-radius:12px;

    font-size:15px;
}

.input-area button{
    padding:14px 20px;

    border:none;
    border-radius:12px;

    background:#00d084;
    color:white;

    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

.input-area button:hover{
    background:#00b56f;
    transform:translateY(-2px);
}

/* Section */

.task-section h3{
    margin-bottom:15px;
    font-weight:500;
}

/* Task List */

.task-section ul{
    list-style:none;
}

/* Task Item */

.task-section li{
    background:rgba(255,255,255,0.15);

    margin-bottom:12px;

    padding:15px;

    border-radius:15px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    transition:0.3s;
}

.task-section li:hover{
    transform:translateY(-3px);
}

/* Completed Task */

.done span{
    text-decoration:line-through;
    opacity:0.7;
}

/* Buttons */

.actions{
    display:flex;
    gap:8px;
}

.actions button{
    width:35px;
    height:35px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    font-size:16px;

    transition:0.3s;
}

.complete{
    background:#00d084;
    color:white;
}

.complete:hover{
    background:#00b56f;
}

.delete{
    background:#ff4d4d;
    color:white;
}

.delete:hover{
    background:#e63a3a;
}

/* Responsive */

@media(max-width:600px){

    .todo-app{
        padding:20px;
    }

    .input-area{
        flex-direction:column;
    }

    .input-area button{
        width:100%;
    }

    .todo-app h1{
        font-size:26px;
    }
}