<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>To-Do Login</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>

  <div class="login-container">
    <h2>To-Do Login</h2>

    <form>
      <div class="input-box">
        <input type="text" placeholder="Username" required />
      </div>

      <div class="input-box">
        <input type="password" placeholder="Password" required />
      </div>

      <button type="submit" class="login-btn">Login</button>
    </form>

    <div class="extra">
      <p>Don't have an account? <a href="register.html">Sign up</a></p>
    </div>
  </div>

</body>
</html>